.header-comp{
 padding: 1rem 0rem 2rem 0rem;
   h4{   
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #213F7D;
      text-transform: uppercase;
  }
}