.activate-comp{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 5px 9px;
 background: #e4033b3b;
 border-radius: 100px;
 h4{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
  color: #E4033B;
 }
}